<div class="row">
  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Résultat</strong>
        </h4>
        <h5>Les nouveaux vips</h5>

        <mdb-card-text>
          Voici les 5 nouveaux vips du live, avec Elodiedie, Broxaze, Vysterioz, Lurasquid et Nicolas l'expediking
        </mdb-card-text>

        <!--Facebook-->
 <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Lire la suite...</a> -->

        <!-- Card footer -->
        <div class="card-footer text-muted text-center mt-4 blue">
          &nbsp;
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

 <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Event</strong>
        </h4>
        <h5>Sub à gagner</h5>

        <mdb-card-text>
          Le jeudi 27 avril, on organise un live évenement sur Marbles On Stream avec un sub a gagner pour le premier des 12 courses.
        </mdb-card-text>

 <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Lire la suite...</a> -->

        <!-- Card footer -->
        <div class="card-footer text-muted text-center mt-4 purple darken-1">
          &nbsp;
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-0 px-0">
        <!--Card content-->
        <h4 class="card-title">
          <strong>Nouvelle vidéo</strong>
        </h4>
        <h5>Expedicube - Que fais tu dans la lave ?</h5>

        <mdb-card-text>
          Compilation du live du 25 juin sur minecraft, avec la participation de peter441 et de ses suicides mythique
        </mdb-card-text>

 <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Lire la suite...</a> -->

        <!-- Card footer -->
        <div class="card-footer text-muted text-center mt-4 red accent-4">
          &nbsp;
        </div>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>

<app-separateur></app-separateur>
<app-separateur></app-separateur>
<!-- Section: Team v.1 -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
  <a href="https://utip.io/expedigame"><button mdbBtn type="button" color="default" block="true" mdbWavesEffect><mdb-icon fas icon="hand-holding-usd"></mdb-icon> Me soutenir</button></a></div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
 <h2> <a routerLink="presentation"><button mdbBtn type="button" color="light-blue" block="true" mdbWavesEffect><mdb-icon fas icon="id-card-alt"></mdb-icon> Présentation</button></a></h2></div>
  <!-- News jumbotron -->
  
  
  </div>
