<!-- Vertical Steppers -->
<app-separateur></app-separateur>

<app-separateur></app-separateur>
<app-separateur></app-separateur>
<app-separateur></app-separateur>
<app-separateur></app-separateur>

  <div class="row mt-1 justify-content-md-center">
    <div class="col-md-8 col-md-offset-1">
  <div class="card">
    <div class="card-header text-white danger-color-dark text-bold">
        <i class="fas fa-user"></i> &nbsp; &nbsp;  <b>DÉTAILS PERSONNELS</b>
    </div>
    <div class="card-body grey lighten-3">
        

        <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
              <div class="card">
                <div class="card-body">
                    <label>Pseudo</label>
                    <input type="text" class="form-control" value="expedibot" disabled="">
                </div>
              </div>
            </div>
          
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <label>Follower depuis le</label>
                    <input type="text" class="form-control" value="13/03/2019" disabled="">
                </div>
              </div>
            </div>
          </div>
<app-separateur></app-separateur>
          <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
              <div class="card">
                <div class="card-body">
                    <label>Date de création</label>
                    <input type="text" class="form-control" value="expedibot" disabled="">
                </div>
              </div>
            </div>
          
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <label>Rang</label>
                    <input type="text" class="form-control" value="Bovin" disabled="">
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  </div>
  </div>

  <app-separateur></app-separateur>
  <app-separateur></app-separateur>

  <div class="row mt-1 justify-content-md-center">
    <div class="col-md-8 col-md-offset-1">
  <div class="card">
    <div class="card-header text-white danger-color-dark text-bold">
        <mdb-icon far icon="list-alt"></mdb-icon> &nbsp; &nbsp;  <b>Classement du mois</b>
    </div>
    <div class="card-body grey lighten-3">
        
<div class="row">
    <div class="col-sm-6">
        <p class="note note-danger"><strong>Juillet :</strong> 20ème avec 1760 points</p>
        </div>
        <div class="col-sm-6">
        <p class="note note-primary"><strong>Juin :</strong> 20ème avec 1760 points</p>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
          <p class="note note-primary"><strong>Mai :</strong> 20ème avec 1760 points</p>
          </div>
          <div class="col-sm-6">
          <p class="note note-primary"><strong>Avril :</strong> 20ème avec 1760 points</p>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
            <p class="note note-primary"><strong>Mars :</strong> 20ème avec 1760 points</p>
            </div>
            <div class="col-sm-6">
            <p class="note note-primary"><strong>Février :</strong> 20ème avec 1760 points</p>
            </div>
        </div>
        <div class="text-center">
       <a  routerLink="/classement" routerLinkActive="active"> <button   mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>Voir le classement</button></a>
      </div>
    </div>
    
  </div>
  </div>
  </div>


  <app-separateur></app-separateur>
  <app-separateur></app-separateur>


  <div class="row mt-1 justify-content-md-center">
    <div class="col-md-8 col-md-offset-1">
  <div class="card">
    <div class="card-header text-white danger-color-dark text-bold">
      <mdb-icon fas icon="info"></mdb-icon> &nbsp; &nbsp;  <b>INFORMATION</b>
    </div>
    <div class="card-body grey lighten-3">
        

        <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
              <div class="card">
                <div class="card-body">
                    <label>Point total</label>
                    <input type="text" class="form-control" value="5420" disabled="">
                </div>
              </div>
            </div>
          
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <label>Nombre de succès réussi</label>
                    <input type="text" class="form-control" value="5 / 8" disabled="">
                </div>
              </div>
            </div>
          </div>
<app-separateur></app-separateur>
          <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
              <div class="card">
                <div class="card-body">
                    <label>Nombre de clip créer</label>
                    <input type="text" class="form-control" value="200" disabled="">
                </div>
              </div>
            </div>
          
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                    <label>Nombre de paris réussi</label>
                    <input type="text" class="form-control" value="120" disabled="">
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  </div>
  </div>

  <app-separateur></app-separateur>
  <app-separateur></app-separateur>


  <div class="row mt-1 justify-content-md-center">
    <div class="col-md-8 col-md-offset-1">
  <div class="card">
    <div class="card-header text-white danger-color-dark text-bold">
      <mdb-icon fas icon="trophy"></mdb-icon>&nbsp; &nbsp;  <b>SUCCÈS</b>
    </div>
    <div class="card-body grey lighten-3">
     <!-- Card deck -->
     <div class="row">
     <div class="col-md-4">
     <div class="card testimonial-card">

      <!-- Background color -->
      <div class="card-up indigo lighten-1"></div>
    
      <!-- Avatar -->
      <div class="avatar mx-auto white">
        <img src="http://expedigame.com/theme/Darker/img/Succes/maska.png" class="rounded-circle purple lighten-4"
          alt="woman avatar">
      </div>
    
      <!-- Content -->
      <div class="card-body">
        <!-- Name -->
        <h4 class="card-title">Maskass vert</h4>
        <hr>
        <!-- Quotation -->
        <p>Réussir 25 paris <br/>
          Débloqué le : 25/05/2020
        </p>
      </div>
    
    </div>
<!-- Card deck -->   
</div>


<div class="col-md-4">
  <div class="card testimonial-card">

   <!-- Background color -->
   <div class="card-up indigo lighten-1"></div>
 
   <!-- Avatar -->
   <div class="avatar mx-auto white">
     <img src="http://expedigame.com/theme/Darker/img/Succes/maska.png" class="rounded-circle purple lighten-4"
       alt="woman avatar">
   </div>
 
   <!-- Content -->
   <div class="card-body">
     <!-- Name -->
     <h4 class="card-title">Maskass vert</h4>
     <hr>
     <!-- Quotation -->
     <p>Réussir 25 paris <br/>
      Débloqué le : 25/05/2020
     </p>
   </div>
 
 </div>
<!-- Card deck -->   
</div>

<div class="col-md-4">
  <div class="card testimonial-card">

   <!-- Background color -->
   <div class="card-up indigo lighten-1"></div>
 
   <!-- Avatar -->
   <div class="avatar mx-auto white">
    <img src="http://expedigame.com/theme/Darker/img/Succes/maska.png" class="rounded-circle purple lighten-4"
       alt="woman avatar">
   </div>
 
   <!-- Content -->
   <div class="card-body">
     <!-- Name -->
     <h4 class="card-title">Maskass vert</h4>
     <hr>
     <!-- Quotation -->
     <p> Réussir 25 paris <br/>
      Débloqué le : 25/05/2020
     </p>
   </div>
 
 </div>
<!-- Card deck -->   
</div>



</div>

<div class="text-center">
  <a  routerLink="/classement" routerLinkActive="active"> <button   mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>Voir tous les succès</button></a>
 </div>

    </div>
  </div>
  </div>
  </div>
  <!-- Steppers Navigation -->

  <!-- /.Vertical Steppers -->
