

<!-- 16:9 aspect ratio -->
<div class="row">
    <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-10 col-md-10 justify-content-md-center">
    
      
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PX2-QrsZRDU" ></iframe>
    </div></div></div>
    
    
    
    <div class="row"> &amp; </div>
    <!-- News jumbotron -->
    <div class="jumbotron text-center hoverable p-4">
    
      <!-- Grid row -->
      <div class="row">
        <div class="col-md-1"></div>
        <!-- Grid column -->
        <div class="col-md-3 offset-md-1 mx-3 my-3">
    
          <!-- Featured image -->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">
    
          <!-- Excerpt -->
          <div class="card-body">
        <blockquote class="blockquote mb-0">
          <a href="#!" class="green-text">
            <h6 class="h6 pb-1"><i class="far fa-address-card"></i> Qui suis-je ?</h6>
          </a>
    
          <h4 class="h4 mb-4"></h4>
    
          <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
          <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
    
          </blockquote>
      </div>
    
        </div>
        <!-- Grid column -->
    
      </div>
      <!-- Grid row -->
    
    </div>
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Les modos du live</h2>
        <!-- Section description -->
      
      
        <!-- Grid row -->
        <div class="row text-center">
      
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="row text-center">
      
          <!-- Grid column -->
      
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/bogothix-profile_image-9a0524c169d972c0-300x300.png" class="rounded-circle z-depth-1"
                alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Bogothix</h5>
            <p class="text-uppercase blue-text"><strong>Le banneur fou</strong></p>
            <p class="grey-text">Bogothix est modérateur du live mais aussi le banneur fou, son plaisir est au maximum lorsque son cota de ban est atteind.</p>
         
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/408a9f21-768b-423b-b8c4-0ae63102b918-profile_image-300x300.png" class="rounded-circle z-depth-1"
                alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Striky93</h5>
            <p class="text-uppercase blue-text"><strong>Le monteur vidéo</strong></p>
            <p class="grey-text">Striky est le modo gentil qui sera toujours la pour vous donnez les liens. C'est lui aussi qui est à l'origine de beaucoup d'image du live ainsi que les vidéos best-of sur la chaîne youtube.</p>
          
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6">
            <div class="avatar mx-auto">
              <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/acda1bc2-8e29-436a-8c7f-400ac3eb3826-profile_image-300x300.png" class="rounded-circle z-depth-1"
                alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Ice__7</h5>
            <p class="text-uppercase blue-text"><strong>L'inactif</strong></p>
            <p class="grey-text">Ice est rarement présent sur les lives, ou en tout cas très discret mais il reste présent au moindre problème et gère totalement le serveur discord.</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid column --></div>
        <div class="col-lg-1"></div>
        </div>
        <!-- Grid row -->
      
      </section>
      <!-- Section: Team v.1 -->
      
      <section class="team-section text-center my-5">
      
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Les modos du serveur Minecraft</h2>
        <!-- Section description -->
      
      
        <!-- Grid row -->
        <div class="row text-center">
      
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="row text-center">
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://minotar.net/avatar/JoelIG/256.png" class="rounded-circle z-depth-1"
                alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Hallowed18</h5>
            <p class="text-uppercase blue-text"><strong>Le suisse admin</strong></p>
            <p class="grey-text">Il gère les redémarrages des lives, installe et config les nouveaux plugins. Si il y a des problèmes techniques sur le serveur (perte de stuff / vol) c'est lui qui s'en occupe.</p>
         
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://minotar.net/avatar/Hallowed18/256.png" class="rounded-circle z-depth-1"
                alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">JoelIG</h5>
            <p class="text-uppercase blue-text"><strong>Le développeur de plugin</strong></p>
            <p class="grey-text">Striky est le modo gentil qui sera toujours la pour vous donnez les liens. C'est lui aussi qui est à l'origine de beaucoup d'image du live ainsi que les vidéos best-of sur la chaîne youtube.</p>
          
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-4 col-md-6">
            <div class="avatar mx-auto">
              <img src="https://minotar.net/avatar/Natsuki/256.png" class="rounded-circle z-depth-1"
                alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Natsuki</h5>
            <p class="text-uppercase blue-text"><strong>La demoiselle</strong></p>
            <p class="grey-text">Il ne faut pas embêter Natsuki sinon elle va vite s'énerver mais elle dirige aussi les projets et règles petits problèmes sur le serveur</p>
           
          </div>
          </div>
          <!-- Grid column --></div>
          <div class="col-lg-1"></div>
        </div>
        <!-- Grid row -->
      
      </section>
      <!-- Section: Team v.1 -->


