<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark danger-color-dark fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="https://cdn.discordapp.com/attachments/327226689899986946/728746099451494400/ZERLYS_logo_chauve.png" class="img-fluid" alt="Responsive image"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link waves-light" routerLink="" mdbWavesEffect>Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="succes" routerLinkActive="active" mdbWavesEffect>Succès</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="classement" routerLinkActive="active" mdbWavesEffect>Classement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="presentation" routerLinkActive="active" mdbWavesEffect>Présentation</a>
      </li>

      <!-- Dropdown -->
    <!--   <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li> -->

    </ul>
    <!-- Links -->

   

            <div *ngIf="!hide">
              <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                  <!-- <a class="nav-link" href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=xn3g12yzv87p0ohpnfsi6o1rh638dm&redirect_uri=http://localhost:4200/&scope=user_read"> -->
                    <a class="nav-link waves-light" href="https://id.twitch.tv/oauth2/authorize?client_id=xn3g12yzv87p0ohpnfsi6o1rh638dm&redirect_uri=http://localhost:4200/twitch/login&response_type=code&scope=user%3Aread%3Aemail&state=85e19155860186db1bca9f1b9232ee9f">
              
              <mdb-icon fab  icon="twitch"></mdb-icon> Se connecter
            </a>
          </li>
        <!--   <li class="nav-item">
            <a class="nav-link">
              <mdb-icon fab icon="google-plus"></mdb-icon>
            </a>
          </li> -->
         
        </ul>
            
            </div>
            
            
<div *ngIf="hide"> 
  
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <!-- <a class="nav-link" href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=xn3g12yzv87p0ohpnfsi6o1rh638dm&redirect_uri=http://localhost:4200/&scope=user_read"> -->
          <a class="nav-link waves-light" routerLink="profil">
            <mdb-icon fas icon="user"></mdb-icon>
            {{item}}
              </a>
            </li>
            <li class="nav-item">
          <a class="nav-link waves-light" (click)="logout()">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>

              </a>
            </li>
          <!--   <li class="nav-item">
              <a class="nav-link">
                <mdb-icon fab icon="google-plus"></mdb-icon>
              </a>
            </li> -->
           
          </ul>
  </div>


  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
