
<section class="team-section text-center my-5">

<app-separateur></app-separateur>
<h2 class="h1-responsive font-weight-bold my-5">Les succès</h2>
</section>


<div class="row"><div class="col-md-3"></div>
<div class="col-md-6">
    <div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/maskassrose.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Maskass rose, vous devez participer et r&eacute;ussir 10 paris. Les paris sont disponible durant les lives de Mario Kart et les tournois de Super Smash Bros Ultimate.</div>
</div>
<div class="row">&nbsp;</div>
<hr style="border: 2px solid red; border-radius: 5px;" />
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/maskassvert.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Maskass vert, vous devez participer et r&eacute;ussir 25 paris. Les paris sont disponible durant les lives de Mario Kart et les tournois de Super Smash Bros Ultimate.</div>
</div>
<div class="row">&nbsp;</div>
<hr style="border: 2px solid red; border-radius: 5px;" />
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/maskassrouge.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Maskass rouge, vous devez participer et r&eacute;ussir 50 paris. Les paris sont disponible durant les lives de Mario Kart et les tournois de Super Smash Bros Ultimate.</div>
</div>
<hr style="border: 2px solid red; border-radius: 5px;" />
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/masskass.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Maskass bleu, vous devez participer et r&eacute;ussir 100 paris. Les paris sont disponible durant les lives de Mario Kart et les tournois de Super Smash Bros Ultimate.</div>
</div>
<hr style="border: 2px solid red; border-radius: 5px;" />
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/maskassnoir.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Maskass noir, vous devez participer et r&eacute;ussir 200 paris. Les paris sont disponible durant les lives de Mario Kart et les tournois de Super Smash Bros Ultimate.</div>
</div>
<hr style="border: 2px solid red; border-radius: 5px;" />
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/MEW.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Mew, vous devez parrainer un(e) ami(e) en le faisant venir sur le live. Pour valider le parrainage, il doit visionner et &ecirc;tre actif sur le live environ 3-5 heures apr&egrave;s avoir fait la commande &lt; !parain "pseudo_du_parrain" &gt;.</div>
</div>
<hr style="border: 2px solid red; border-radius: 5px;" />
<div class="row">&nbsp;</div>
<div class="row">
<div class="col-md-3"><img src="http://expedigame.com/theme/Darker/img/Succes/toadviolet.png" alt="" width="79" height="80" /></div>
<div class="col-md-9 grey-text">Pour d&eacute;bloquer l'avatar Toad violet, vous devez visionner et &ecirc;tre actif sur le live pendant 10 heures.</div>
</div>
</div>
</div>